img.mario {
	position: absolute;
	bottom:  0px;
	left:  50px;
	-webkit-transition: left 5s ease-in-out 1s; /* Safari 3.1 to 6.0 */
	transition: left 5s ease-in-out 1s;
}


img.mario:hover{
	position: absolute;
	left:  700px;
}